########################################
# Spring Boot / Maven
########################################
HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.mvn/wrapper/maven-wrapper.jar

########################################
# Logs
########################################
*.log
logs/
log/

########################################
# Environment files (IMPORTANT)
########################################
.env
*.env
NOTES.md
########################################
# STS (Spring Tool Suite)
########################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

########################################
# IntelliJ IDEA
########################################
.idea
*.iws
*.iml
*.ipr
out/

########################################
# NetBeans
########################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

########################################
# VS Code
########################################
.vscode/

########################################
# OS files
########################################
.DS_Store
Thumbs.db

########################################
# Maven wrapper (optional safety)
########################################
.mvn/wrapper/maven-wrapper.properties

########################################
# Compiled class files
########################################
*.class